<apex:page standardController="Loan__c" extensions="Shift_UnscheduledPaymentExtension">

  <apex:sectionHeader title="Unscheduled Loan Payment" subtitle="{!Loan__c.Name}"/>

  <apex:pagemessages />
  <apex:form >
      <apex:pageBlock >

          <apex:pageBlockButtons >
              <apex:commandButton action="{!save}" value="Make Payment" />
              <apex:commandButton action="{!cancel}" value="Cancel" />
          </apex:pageBlockButtons>
                
          <apex:pageBlockSection title="Information" columns="2" collapsible="false">
              <apex:outputtext value="{!Loan__c.Amortization_Method__c}" label="Amortization Method"/>
              <apex:outputtext value="{!Loan__c.Business_Name__r.Name}" label="Business Name"/>
              <apex:outputtext value="${0, number, ###,##0.00}" label="Available Cash Balance">
                  <apex:param value="{!Loan__c.Business_Name__r.Available_Cash_Balance__c}"/>
              </apex:outputText>
              <apex:outputtext value="{!Loan__c.Stage__c}" label="Stage"/>
          </apex:pageBlockSection>
          
          <apex:pageBlockSection title="Principal" columns="1" collapsible="false">
              <apex:outputtext value="${0, number, ###,##0.00}" label="Principal Remaining ">
                  <apex:param value="{!Loan__c.Outstanding_Principal__c}"/>
              </apex:outputText>
              <apex:outputtext value="${0, number, ###,##0.00}" label="Principal Paid">
                  <apex:param value="{!Loan__c.Total_Principal_Repaid__c}"/>
              </apex:outputText>
          </apex:pageBlockSection>
          
          <apex:pageBlockSection title="Amount to be paid" collapsible="false">
              <apex:inputtext value="{!amountPaid}" label="Amount"/>
          </apex:pageBlockSection>
          
      </apex:pageBlock>
  </apex:form>
</apex:page>